@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  padding: 20px;
}
* *{
  transition: all 0.2s ease;
}
.slick-next {
  right: 10px;
  z-index: 99;
}

.slick-prev {
  z-index: 99;
  left: 10px;

}
.slick-next,.slick-prev{
  opacity: 50%;
}
.slick-next:hover,.slick-prev:hover{
  opacity: 80%;
}

.appContainer{
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.app{
  max-width: 1400px;
  margin:  0 auto;
}
.smallDate{
  display: none;
}

@media not all and (min-width: 870px){
  .appContainer{
    padding-top: 20px;
  }
  .contain{
    padding: 30px;
  }
}
@media not all and (min-width: 720px){
.svgText,.rect{
  display: none;
}
  .line{
    display: none;
  }
  .work_info{
    border-left: 3px #666d8f solid;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .category{
   font-size: 19px;
  }

.smallDate{
  display: block;
  padding-bottom: 5px;
}





}
@media not all and (min-width: 500px){

  .appContainer{
    padding-top: 0;

  }
  .contain{
    padding: 10px;
  }
}
@media not all and (min-width: 460px){
   .sliderContainer{
     @apply w-72
  }

    .slick-dots{
      bottom: -10px;
    }

}