@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  padding: 20px;
}
* *{
  transition: all 1s ease;
}
.slick-next {
  right: 10px;
  z-index: 99;
}

.slick-prev {
  z-index: 99;
  left: 10px;
}
